.project_container {
  padding: 2em 2em 2em 0em
  ;
  overflow-x: hidden;
}

.title_container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.btn_projects {
  margin-right: 2em;
}